<header class="site-header">
  <div class="shell nav-row">
    <a class="brand-mark" href="/">
      <span class="brand-mark__eyebrow">OmniToolset</span>
      <span class="brand-mark__name">Multi-product SaaS platform</span>
    </a>
    <nav class="site-nav">
      <% for (const navProduct of productCatalog) { %>
        <a href="<%= navProduct.path %>" class="<%= currentPath === navProduct.path ? 'is-active' : '' %>">
          <%= navProduct.name %>
        </a>
      <% } %>
    </nav>
  </div>
</header>
