<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title><%= pageTitle %></title>
<meta name="description" content="<%= pageDescription %>" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Space+Grotesk:wght@500;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/styles.css" />
<script>
  window.__OMNITOOLSET_PRODUCTS__ = <%- JSON.stringify(productCatalog.map((product) => ({ slug: product.slug, name: product.name }))) %>;
</script>
<script defer src="/app.js"></script>
